@{
    ViewData["Title"] = "Home";
}



<!-- Start: Hero Section -->
<div class="home-hero-section">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="hero-content-v3">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <h2>Explore a World of Knowledge</h2>
                            <p>
                                Discover thousands of Books and CDs across various subjects. Start your journey today with Sydenham Library.
                            </p>
                            <div class="hero-content-btn">
                                <a asp-controller="Catalog" asp-action="Index" class="btn btn-primary">Books & CDs</a>
                                <a asp-controller="Account" asp-action="Signup" class="btn btn-light">Join Now</a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="hero-image-v3">
                                <img src="~/frontend/images/hero-image.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End: Hero Section -->
<!-- Start: Welcome Section -->
<section class="welcome-section-v3" data-speed="0.06" data-revert="true">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto text-center">
                <h6 class="sub-heading-v2">Welcome to the Sydenham Library</h6>
                <h3 class="heading-v2 px-3">
                    Your Gateway to <br>Knowledge and Discovery
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 mx-auto text-center">
                <p>
                    Welcome to Sydenham Library, your gateway to a world of knowledge and discovery.
                    As a dedicated provider of educational resources, we offer a diverse collection of Books and CDs
                    across a wide range of subjects, including computing, business, and more. Our mission is to empower
                    learners of all ages by providing easy access to quality materials that support education, personal
                    growth, and lifelong learning. At Sydenham Library, we are committed to fostering a community where
                    knowledge is accessible to everyone. Our online library management system allows you to search our
                    extensive catalog, reserve your favorite Books and CDs, and connect with library staff—all from the
                    comfort of your home. Whether you are a student, educator, or simply a lover of books,
                    Sydenham Library is here to support your learning journey. Join us today and explore the wealth of
                    resources we have to offer. At Sydenham Library, we believe that learning should be a
                    lifelong adventure, and we are here to guide you every step of the way.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End: Welcome Section -->
<!-- Start: StaffPick -->
<section class="staffpick-box">
    <div class="title-content text-center">
        <h2 class="section-title ">New Collections</h2>
    </div>
    <div class="container">
        <div class="staffpick-carousel books-media-grid-listing">
            <div class="single-book-media item">
                <div class="book-thumb">
                    <span class="bg-light-blue price-tag">Book</span>
                    <a href="#">
                        <img src="~/frontend/images/books-media/book-media-list-1.jpg" alt="">
                    </a>
                </div>
                <div class="book-detail">
                    <div class="book-detail-hover">
                        <h3 class="book-media-title">
                            <a href="#">
                                Flames of War By John
                                Smith
                            </a>
                        </h3>
                        <p><strong>Author:</strong> F. Scott Fitzgerald</p>
                        <p><strong>ISBN:</strong> 9781581573268</p>
                        <div class="card-links">
                            <a href="#" class="btn btn-primary">
                                Reserve Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-book-media item">
                <div class="book-thumb">
                    <span class="bg-light-blue price-tag">Book</span>
                    <a href="#">
                        <img src="~/frontend/images/books-media/book-media-list-2.jpg" alt="">
                    </a>
                </div>
                <div class="book-detail">
                    <div class="book-detail-hover">
                        <h3 class="book-media-title">
                            <a href="#">The Room A Novel</a>
                        </h3>
                        <p><strong>Author:</strong> F. Scott Fitzgerald</p>
                        <p><strong>ISBN:</strong> 9781581573268</p>
                        <div class="card-links">
                            <a href="#" class="btn btn-primary">
                                Reserve Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-book-media item">
                <div class="book-thumb">
                    <span class="bg-pink price-tag">CD</span>
                    <a href="#">
                        <img src="~/frontend/images/books-media/book-media-list-3.jpg" alt="">
                    </a>
                </div>
                <div class="book-detail">
                    <div class="book-detail-hover">
                        <h3 class="book-media-title">
                            <a href="#">
                                Red Queen, Power Is A
                                Dangerous Game
                            </a>
                        </h3>
                        <p><strong>Author:</strong> F. Scott Fitzgerald</p>
                        <p><strong>ISBN:</strong> 9781581573268</p>
                        <div class="card-links">
                            <a href="#" class="btn btn-primary">
                                Reserve Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-book-media item">
                <div class="book-thumb">
                    <span class="bg-light-blue price-tag">Book</span>
                    <a href="#">
                        <img src="~/frontend/images/books-media/book-media-list-4.jpg" alt="">
                    </a>
                </div>
                <div class="book-detail">
                    <div class="book-detail-hover">
                        <h3 class="book-media-title">
                            <a href="#">Two Lives One Girl</a>
                        </h3>
                        <p><strong>Author:</strong> F. Scott Fitzgerald</p>
                        <p><strong>ISBN:</strong> 9781581573268</p>
                        <div class="card-links">
                            <a href="#" class="btn btn-primary">
                                Reserve Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-book-media item">
                <div class="book-thumb">
                    <span class="bg-light-blue price-tag">Book</span>
                    <a href="#">
                        <img src="~/frontend/images/books-media/book-media-list-5.jpg" alt="">
                    </a>
                </div>
                <div class="book-detail">
                    <div class="book-detail-hover">
                        <h3 class="book-media-title">
                            <a href="#">A Boy In Winter</a>
                        </h3>
                        <p><strong>Author:</strong> F. Scott Fitzgerald</p>
                        <p><strong>ISBN:</strong> 9781581573268</p>
                        <div class="card-links">
                            <a href="#" class="btn btn-primary">
                                Reserve Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-book-media item">
                <div class="book-thumb">
                    <span class="bg-light-blue price-tag">Book</span>
                    <a href="#">
                        <img src="~/frontend/images/books-media/book-media-list-6.jpg" alt="">
                    </a>
                </div>
                <div class="book-detail">
                    <div class="book-detail-hover">
                        <h3 class="book-media-title">
                            <a href="#">Willows Of Fate</a>
                        </h3>
                        <p><strong>Author:</strong> F. Scott Fitzgerald</p>
                        <p><strong>ISBN:</strong> 9781581573268</p>
                        <div class="card-links">
                            <a href="#" class="btn btn-primary">
                                Reserve Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-book-media item">
                <div class="book-thumb">
                    <span class="bg-light-blue price-tag">Book</span>
                    <a href="#">
                        <img src="~/frontend/images/books-media/book-media-list-7.jpg" alt="">
                    </a>
                </div>
                <div class="book-detail">
                    <div class="book-detail-hover">
                        <h3 class="book-media-title">
                            <a href="#">
                                How To Help Someone
                                With
                                Cancer
                            </a>
                        </h3>
                        <p><strong>Author:</strong> F. Scott Fitzgerald</p>
                        <p><strong>ISBN:</strong> 9781581573268</p>
                        <div class="card-links">
                            <a href="#" class="btn btn-primary">
                                Reserve Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-book-media item">
                <div class="book-thumb">
                    <span class="bg-light-blue price-tag">Book</span>
                    <a href="#">
                        <img src="~/frontend/images/books-media/book-media-list-8.jpg" alt="">
                    </a>
                </div>
                <div class="book-detail">
                    <div class="book-detail-hover">
                        <h3 class="book-media-title">
                            <a href="#">
                                Shatter Me - Taherh
                                Mafi
                            </a>
                        </h3>
                        <p><strong>Author:</strong> F. Scott Fitzgerald</p>
                        <p><strong>ISBN:</strong> 9781581573268</p>
                        <div class="card-links">
                            <a href="#" class="btn btn-primary">
                                Reserve Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-content">
            <a asp-controller="Catalog" asp-action="Index" class="btn btn-primary">View All Collections<span></span></a>
        </div>
    </div>
</section>
<!-- Start: StaffPick -->

<!-- Start: Features -->
<section class="features">
    <div class="title-content text-center">
        <h2 class="section-title ">
            Getting Started with Sydenham Library
        </h2>
    </div>
    <div class="container">
        <ul>
            <li data-aos="fade-left">
                <div class="feature-box">
                    <div class="image">
                        <img src="~/frontend/images/features/books-collection.jpg" alt="Books Collection" />
                    </div>
                    <h3>Explore Our Catalog</h3>
                    <p>
                        Browse and search through our extensive collection of books and media on a wide range of subjects.
                    </p>
                </div>
            </li>
            <li data-aos="fade-down">
                <div class="feature-box">
                    <div class="image">
                        <img src="~/frontend/images/features/ebooks.jpg" alt="Books Collection" />
                    </div>
                    <h3>Reserve Your Selections</h3>
                    <p>
                        Easily reserve your chosen books or CDs online and receive notifications to ensure timely pickup.
                    </p>
                </div>
            </li>
            <li data-aos="fade-right">
                <div class="feature-box">
                    <div class="image">
                        <img src="~/frontend/images/features/dvd.jpg" alt="Books Collection" />
                    </div>
                    <h3>Enjoy and Learn</h3>
                    <p>
                        Collect your reserved items from the library or enjoy digital resources from the comfort of your home.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- End: Features -->