@{
    ViewData["Title"] = "Admin - Page Not Found";
}

<div class="error-page text-center my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-lg-10 mx-auto">
                <img src="~/images/error-section-image.png" alt="" style="width: 50%">
                <h1 class="display-1 fw-bold">404 Error</h1>
                <h2>Sorry, the Page Not Found</h2>
                <a class="btn btn-primary" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Back to Dashboard</a>
            </div>
        </div>
    </div>
</div>
