@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{


    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-default" asp-action="Index" asp-controller="Admin">Admin Portal</a>

    }
    else
    {
        <a class="btn btn-default" asp-action="MyReservations" asp-controller="Items">My Reservations</a>

    }
    <a class="btn btn-default" asp-action="Logout" asp-controller="Account">Logout</a>
}
else
{

    <a class="btn btn-default" id="register" asp-controller="Account" asp-action="Register">Register</a>
    <a class="btn btn-default" id="login" asp-controller="Account" asp-action="Login">Login</a>

}
