@{
    ViewData["Title"] = "Page Not Found";
}

<!-- Start: Book & Media Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="error-page text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11 col-lg-10 mx-auto">
                            <img src="~/images/error-section-image.png" alt="" style="width: 50%">
                            <h3>404 Error</h3>
                            <small>Sorry, the Page Not Found</small>
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Books & Media Section -->